@font-face {
  font-family: 'brandon-grotesque';
  src: url('../fonts/brandon-grotesque-blk-it.eot'); /* IE9 Compat Modes */
  // src: url('../fonts/brandon-grotesque-blk-it?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  //      url('../fonts/brandon-grotesque-blk-it.woff') format('woff'), /* Modern Browsers */
  //      url('../fonts/brandon-grotesque-blk-it.ttf')  format('truetype'), /* Safari, Android, iOS */
  //      url('../fonts/brandon-grotesque-blk-it#db83a1450782399269807c88b8666559.svg') format('svg'); /* Legacy iOS */
  src: url('../fonts/brandon-grotesque-blk-it.woff') format('woff'), /* Modern Browsers */
       url('../fonts/brandon-grotesque-blk-it.ttf')  format('truetype');
       
  font-style:   italic;
  font-weight:  800;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'brandon-grotesque', sans-serif;
}
html {
	background-color: #eeeeee;
}
