* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'brandon-grotesque', sans-serif;
}
html {
	background-color: #eeeeee;
	color: #222;
	font-size: 16px;
	@include breakpoint(medium) {
		font-size: 20px;
	}
	// @media screen and (min-width: $medium) {
	// 	font-size: 20px;
	// }
}
