.u-text-center {
	text-align: center;
}
.u-text-left {
	text-align: left;
}
.u-text-right {
	text-align: right;
}
.u-relative {
	position: relative;
}
.u-full-width {
	width: 100%;
}
.u-inline-block {
	display: inline-block;
}
